<h1>プロフィール</h1>
<p><%= @user.name %>のページ</p>
<p>メールアドレス<%= @user.email %></p>

<% if @user.image.present? %>
  <p>
    <strong>ユーザーアイコン</strong>
    <%= image_tag @user.image.url %>
  </p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
